<style>
    div { 
        margin-top: 10rem;
        display: fkex;
        flex-direction: row;
        text-align: center;
        justify-content: center; 
    }

    h3 {
        font-size: 35px;
    }
</style>
<div>
    <h3>Miniaturas en calidad 400px x 300px</h3>
    <img src="{{{imageSrcs}}}" alt="Miniatura" />
</div>
